{% extends 'base.html' %}

{% load static %}

{% block main_content %}
    <link rel="stylesheet" href="{% static 'css/profile_update.css' %}">
    <div class="edit-delete">
        <h2>Edit Profile</h2>
        <form action="{% url 'profile_update' pk=object.pk %}" method="post" enctype="multipart/form-data">
            {{ form.as_p }}

            <button class="edit-btn" type="submit">Edit</button>
            <a class="back-btn" href="javascript:history.back()">Go Back</a>

            {% csrf_token %}
        </form>
    </div>
{% endblock %}